
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    
    
    <body>
        <div class="container">
            <div class="user-image">
                <img src="/img/cart.jpg" alt="this image contains user-image">
            </div>
    
            <div class="content">
                <h3 class="name">{{user.name}}</h3> <br>
                <p><b>En un momento nos comunicaremos con usted para concretar su compra</b></p>
                <br> <a class="effect effect-4" href="/">
                    Volver a la pagina
                </a>
    
                <script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous">
                </script>
    </body>
